

.logo{
    height: auto;
    width: auto;
    max-width: 100px;
    max-height: 100px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: orange;
    position: relative;
}

li {
    float: left;
}

#logonav {
    height: 42px;
    margin: 0 12px 0 20px;
    padding: 0;
}

#welcomeText {
    float:right;
}

@media (max-width: 1050px){
    #welcomeText {
        display: none;
    }
}

.navbarRightElement{
    margin: 0;
    padding: 0;
}

li input {
    display: block;
    margin-top: 5px;
    padding: 14px 16px;
    margin-left: 10px;
}

li button {
    margin-top: 5px;
    display: block;
    padding: 14px 16px;
    margin-right: 10px;
}

li a {
    margin-left: 10px;
    margin-right: 10px;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #888888;
}

footer {
    margin-top: 300px;
    padding: 50px 20px 20px 15%;
    background-image: linear-gradient(180deg,darkorange,orange);
    display: flex;
}

#root{
    margin:0;
}

#noFoundMovie {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.centerText{
    text-align: center;
}

.ratingStars{
    font-size: 50px;
    color: yellow;
    margin: 5px;
}

.comment {
    border-radius: 10px;
}

.movieTitleText {
    text-align: center;
    text-decoration: underline;
}

.dateText {
    text-align: right;
}

.commentHeaderText{
    text-decoration: underline;
    text-align: center;
}

.commentText{
    margin-left: 10px;
}

.authorText{
    text-align: right;
}

#statusTextArea{
    display: block;
    margin-left: auto;
    margin-right: auto;
    resize: none;
    width: 80%;
    height: 120px;
}

#editButton{
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.movieTitle{
    text-align: center;
    color: white;
}

.movieInfo{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: orange;
}

.movieInfoText{
    text-align: center;
}

.moviePagePoster {
    display: block;
    max-height: 450px;
    margin-left: auto;
    margin-right: auto;
}

.movieOwnDiv{
    margin-top: 150px;
}

.movieDisplay {
    padding-left: 50px;
    display: flex;
}

.movieDetailsText{
    color: black;
}

.movieDisplayLeft{
    width: 40%;
    margin-top: auto;
    margin-bottom: auto;
    background-color: orange;
    text-align: right;
    padding-right: 10px;
}

.movieDisplayRight{

}

.movieDescriptionText{
    color: white;
    font-size: 20px;
}

.movieDescription{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
}

.newCommentField{
    width: 50%;
    margin-left: auto !important;
    margin-right: auto !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.newCommentFieldInput{
    margin: 10px;
}

#commentBtn{
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.starHighlight {
    color: yellow !important;
}

#rStar1, #rStar2, #rStar3, #rStar4, #rStar5 {
    color: gray;
    font-size: 50px;
    border: none;
    background-color: white;
}

#reviewButton{
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    background-color: orange;
    border-radius: 5px;
    padding: 5px;
    display: block;
}

#reviewField{
    padding: 20px;
    background-color: white;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#reviewStarField{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#reviewStarField h3{
    margin: 5px;
    font-size: 40px;
    display: inline-block;
}