

.logo{
    height: auto;
    width: auto;
    max-width: 100px;
    max-height: 100px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: orange;
}

li {
    float: left;
}

li input {
    display: block;
    margin-top: 5px;
    padding: 14px 16px;
    margin-left: 10px;
}

li button {
    margin-top: 5px;
    display: block;
    padding: 14px 16px;
    margin-right: 10px;
}

li a {
    margin-left: 10px;
    margin-right: 10px;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #888888;
}

footer {
    margin-top: 300px;
    padding: 50px 20px 20px 15%;
    background-image: linear-gradient(180deg,darkorange,orange);
    display: flex;
}

#root{
    margin:0;
}

#noFoundMovie {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.centerText{
    text-align: center;
}

.ratingStars{
    font-size: 50px;
    color: yellow;
    margin: 5px;
}

.comment {
    border-radius: 10px;
}

.movieTitleText {
    text-align: center;
    text-decoration: underline;
}

.dateText {
    text-align: right;
}

.commentHeaderText{
    text-decoration: underline;
    text-align: center;
}

.commentText{
    margin-left: 10px;
}

#statusTextArea{
    display: block;
    margin-left: auto;
    margin-right: auto;
    resize: none;
    width: 80%;
    height: 120px;
}

#editButton{
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}