body {
    font-family: Arial, Verdana, sans-serif;
    background-color: #333333;
    overflow: auto;
    margin: 0;
}

.logreg_text {
    margin: 18px;
    padding-top: 13px;
}

#logOutBtn {
    visibility: hidden;
    font-size: 18px;
    margin-top: 2%;
    margin-left: 38.5%;
    margin-right: 35%;
    padding: 13px 16px;
    background: #000;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
}

#logOutBtn:hover {
    background-color: #333333;
}

#logInBtn:hover {
    background-color: #333333;
}

#logform {
    visibility: visible;
}

#logregdiv {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    height: 530px;
    min-width: 200px;
    max-width: 600px;
    background-color: darkorange;
    background-image: linear-gradient(180deg,darkorange,orange);
    border: 4px solid black;
    box-shadow: 5px 10px #888888;
    border-radius: 8px;
    font-size: 20px;
}

#regbutton {
    font-size: 18px;
    margin-top: 8%;
    margin-left: 35%;
    margin-right: 35%;
    padding: 13px 16px;
    background: #000;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
}

#regbutton:hover {
    background-color: #333333;
}

#logInBtn {
    font-size: 18px;
    margin-top: 8%;
    margin-left: 35%;
    margin-right: 35%;
    padding: 13px 16px;
    background: #000;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
}

.labeli {
    font-size: 30px;
}

.inputti {
    font-size: 20px;
}
#logform {
    padding-top: 15%;
}

#regform {
    padding-top: 15%;
}